body
{
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background: #7077A1;
    color: #f0e8e2;
}
.header {
    background: #424769;
    display: flex;
    position: relative;
    height: 120px;
}
h1
{
    color: #f0e8e2;
    position: absolute;
    height: 100px;
    width: 700px;
    top: 20px;
    margin-left: 20px;
}
.logo {
    flex-grow: 1;
}
.kontakt {
    flex-grow: 1;
    text-align: right;
}
.kontakt img {
    margin-top: 40px;
    margin-right: 20px;
    width: 50px;
    height: 50px;
    filter: invert(.9);
    transition: all .3s ease;
}
.kontakt img:hover
{
    filter: invert(.7);
}
.meni {
    display: flex;
    height: 50px;
    background-color: #2D3250;
}
.page {
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    position: relative;
    transition: all .3s ease;
}
.page1 {
    position: relative;
    padding: 15px;
    text-align: center;
    flex-grow: 1;
    transition: all .3s ease;
}
.page1:hover .lista {
    display: block;
}
.lista {
    width: 100%;
    box-shadow: inset 3px 0 0 #f0e8e2;
    display: none;
    position: absolute;
    background-color: #2D3250;
    z-index: 1;
    left: 0;
    top: 100%;
}
li a {
    text-align: center;
    width: 100%;
}
.page:hover {
    box-shadow: inset 0 -3px 0 #f0e8e2;
}
.page1:hover {
    box-shadow: inset 0 -3px 0 #f0e8e2;
}
.page a {
    color: #f0e8e2;
    text-decoration: none;
}
.page1 a {
    color: #f0e8e2;
    text-decoration: none;
}
.lista a {
    color: #f0e8e2;
    text-decoration: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    height: 30px;
    width: 100%;
    transition: all .3s ease;
}
li:hover
{
    background: #7077A1;
    box-shadow: inset 3px 0 0 #f0e8e2;
}
footer
{
    background: #424769;
    margin-top: 80px;
    height: 200px;
    padding-top: 20px;
    box-sizing: border-box;
    color: #f0e8e2;
    text-align: center;
}

.naslov {
    background-color: #424769;
    padding: 20px;
    text-align: center;
    border-radius: 0 0 15px 15px;
    color: #f0e8e2;
}
.mapa{
    width:100%;
    height:800px;
    margin-top: 0;
}
.naslovi{
    display: flex;
}
#loka{
    color:#f0e8e2;
    padding-left: 350px;
    padding-top: 100px;
    flex-grow: 1;
    font-size: 40px;
}
#kontakti{
    color:#f0e8e2;
    padding-left: 100px;
    padding-top: 100px;
    flex-grow: 1;
    font-size: 40px;
}
.donji{
    display: flex;
}
.donjidesni{
    padding-top: 40px;
    flex-grow: 1;
    color:#f0e8e2;
}
.donjidesni h3{
    font-size: 25px;
}
.imejlpodrska{
    color:#f0e8e2;
}
.levamapa{
    flex-grow: 1;
}
.contact-form {
    width: 400px;
    margin: 0 auto;
}
.form-group {
    margin-bottom: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
.form-group input[type="text"],
.form-group textarea {
    width: 600px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.form-group textarea {
    width: 600px;
    height: 100px;
}
.form-group input[type="submit"] {
    background-color: #2D3250;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.form-group input[type="submit"]:hover {
    background-color: #2D3250;
}
.kraj {
    margin-top:30px;
    display: flex;
}
.dolelevo {
    margin-left: 30px;
    flex-grow: 1;
}
.doledesno {
    margin-right: 30px;
    flex-grow: 1;
}